.App {
  text-align: center;
  a {
    transition: 0.3s;
    text-decoration: none;
  }
  h1.page-header {
    color: #555;
  }
  .page-content {
    max-width: 900px;
    margin: 0 auto;
  }
  p {
    line-height: 150%;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .btn {
    padding: 10px 30px;
    color: white;
    margin-top: 10px;
    display: inline-block;
  }
  .btn.prime {
      background: #555;
      &:hover {
        background: #333;
      }
  }
}
