.ingredient {
  position: relative;
}
.BreadBottom {
  z-index: 0;
}
.BreadTop {
  margin-bottom: -60px;
  z-index: 8;
}
.Meat {
  z-index: 2;
  margin-bottom: -40px;
}
.Meat:nth-child(2) {
  z-index: 3;
  margin-bottom: -40px;
}
.Cheese {
  margin-bottom: -80px;
  z-index: 3;
}
.Tomatos {
  margin-bottom: -50px;
  z-index: 4;
}
.Pickles {
  margin-bottom: -50px;
  z-index: 5;
  margin-left: 90px;
  margin-top: -70px;
}
.Pickles:nth-child(2n) {
  z-index: 5;
  margin-left: -90px;
}
.Pickles:last-child {
  margin-top: 0;
}
.Onions {
  margin-bottom: -50px;
  z-index: 6;
}
.Lettuce {
  margin-bottom: -60px;
  z-index: 7;
}
