.Comment {
    max-width: 31.33%;
    justify-content: center;
    display: inline-flex;
    .card {
        min-height: 300px;
        box-shadow:  0 0 55px -40px;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 60px 50px;
        align-items: center;
        vertical-align: middle;
        margin: 5%;
    }
    &:nth-child(n+5) {
        margin-top: 70px;
    }
}