.FourOhFour {
    background: lightgreen;
    padding: 30vh 50px;
    height: calc(100vh - 70px);
    box-sizing: border-box;
    h1 {
        font-size: 80px;
        margin: 0;
        text-transform: uppercase;
        color: mediumseagreen;
    }
    p {
        font-size: 28px;
    }
}