.BurgerBuilder {
    .order-now {
        background: #2AFD94;
        color: white;
        width: 100%;
        max-width: 250px;
        padding:20px 0;
        cursor: pointer;
        &:disabled,&[disabled] {
            background: #eee;
            color: #ccc;
            cursor: auto;
        }
    }
}