.OrderSummary {
    ul {
        list-style: none;
        padding: 0;
    }
    li.ingredient-list {
        font-weight: bold;
        font-size: 21px;
        line-height: 36px;
        padding: 10px 0;
        border-bottom: solid 1px #eee;
        span {
            text-transform: capitalize;
            font-weight: lighter;
        }
    }
    h2 {
        font-size: 42px;
    }
}